/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FFFAFA;   
}

h2 {
    color: #F93912;
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
}

li {
    font-size: 1.6rem;
}

.code {
    background-color: #F5F5F5;
}

.code p {
    font-family: "Courier New", Courier, monospace;
}

.indent-code {
    margin-left: 15px;
}

h1 {
    margin-left: 10px;
    margin-top: 10px;
    color: #F93912;
    font-size: 3.3rem;
}

header nav ul li {
    border-bottom: 1px solid black;
    padding: 20px 10px;
}

header nav ul li a {
    text-decoration: none;
    color: darkslategray;
    cursor: pointer;
    font-size: 2rem;
}

header {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 4px solid #F93912;
    overflow-y: auto;
}

main {
    margin-left: 325px;
}